@media (orientation: landscape) {
    p {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .map_image {
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .number_input {
        width: 20%;
    }
}

@media (orientation: portrait) {
    p {
        width: 100%;
    }

    .map_image {
        width: 100%;
    }

    .number_input {
        width: 50%;
    }
}

* {
    font-family: "Macondo";
    font-size: 24;
}

body {
    background-image: url("../background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.number_input {
    margin-top: 2%;
    margin-bottom: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(78, 41, 22);
    border-color: rgb(54, 26, 11);
}

.check_input {
    margin-bottom: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(78, 41, 22);
    border-color: rgb(54, 26, 11);
}

.map_image {
    height: auto;
    image-rendering: pixelated;
}